@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'posts';

.nav {
  background-image: url(http://st.automobilemag.com/uploads/sites/11/2011/04/2012-chrysler-300-SRT8-grille.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  .header {
    font-size: 40px;
    display: inline-block;
    padding: 30px 10px 10px 10px;
    a {
      text-decoration: none;
    }
  }
}
