body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #FFF;
      .container {
      width: 70%;
          h2 {
      font-size: 40px;
        a {
          text-decoration: none;
        }
        p {
          font-size: 40px;
        }
    }
  }
}
